<html>
  <head>
    <title>SiteMesh example: <sitemesh:write property='title'>Title goes here</sitemesh:write></title>
    
    <sitemesh:write property='head'/>
  </head>
  <body>
  	<div>
  		<sitemesh:write property='body' />
  	</div>
  </body>
  </html>